Page {
	background-image: url("~/media/beach2.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

TextField {
    margin: 5 20;
    padding: 10;
}

Button {
    margin: 5 20;
    padding: 10;
    background-color: #B5A954;
    color: white;
}

.logo {
	margin-top: 40;
	margin-bottom: 20;
}